<template>
  <v-card class="brew-box-state-card">
    <v-toolbar color="secondary" dark>
      <v-toolbar-title>Current brew state</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text v-if="state" class="headline font-weight-bold">
      <v-layout>
        <v-flex>
          <h4>
            Temperature: <b>{{ temperatureDisplay }}</b>
          </h4>
          <h4>
            Heating: <b>{{ heatingState }}</b>
          </h4>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  beerName: 'BrewBoxStateCard',
  props: {
    state: {
      type: Object,
      default: null
    }
  },
  computed: {
    temperatureDisplay() {
      const temperature = Math.round(this.state.beerTemperature * 100) / 100
      return temperature + ' °C'
    },
    heatingState() {
      return this.state.heatingOn ? 'ON' : 'OFF'
    }
  }
}
</script>

<style scoped></style>
