<template>
  <v-card class="brew-box-state-card">
    <v-toolbar color="secondary" dark>
      <v-toolbar-title>Brew settings</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text v-if="config" class="headline font-weight-bold">
      <h3><u>Settings</u></h3>
      <v-layout column>
        <v-flex>
          <span>Target beer temperature:</span>
          <span>{{ targetTemperatureDisplay }}</span>
        </v-flex>
        <v-flex>
          <span>Dilation:</span>
          <span>{{ config.dilation }}</span>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  beerName: 'BrewBoxStateCard',
  props: {
    config: {
      type: Object,
      default: null
    }
  },
  computed: {
    targetTemperatureDisplay() {
      const temperature = this.config.targetBeerTemperature
      return temperature + ' °C'
    }
  }
}
</script>

<style scoped></style>
