<template>
  <div class="brew-form-container">
    <form>
      <v-text-field
        v-model="brew.title"
        label="Brew title"
        required
      ></v-text-field>
      <v-text-field
        v-model="brew.beerName"
        label="Beer name"
        required
      ></v-text-field>
      <v-select
        v-model="brew.selectedBeerType"
        :items="beerTypes"
        label="Beer type"
        required
      ></v-select>

      <v-layout class="dates-container">
        <v-flex class="mt-3" xs12 md6>
          <v-menu
            ref="menu"
            v-model="startDateMenu"
            :close-on-content-click="false"
            :nudge-right="40"
            :return-value.sync="brew.startDate"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="brew.startDate"
                label="Start date"
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="brew.startDate" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn flat color="accent" @click="menu = false">Cancel</v-btn>
              <v-btn
                flat
                color="primary"
                @click="$refs.menu.save(brew.startDate)"
                >OK</v-btn
              >
            </v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex xs12 md6>
          <v-subheader class="pl-0">Estimated duration (in days) </v-subheader>
          <v-slider
            v-model="brew.estimatedDuration"
            thumb-color="blue"
            thumb-label="always"
            :max="15"
            :min="5"
          ></v-slider>
        </v-flex>
      </v-layout>
      <v-layout class="brew-settings">
        <v-flex xs12 md6>
          <v-subheader class="pl-0">Target temperature</v-subheader>
          <v-slider
            v-model="settings.targetTemperature"
            thumb-color="red"
            thumb-label="always"
            :max="30"
            :min="10"
          ></v-slider>
        </v-flex>
        <v-flex class="px-3">
          <v-subheader class="pl-0">Warning range</v-subheader>
          <v-range-slider
            v-model="settings.warningRange"
            :max="10"
            :min="1"
            :step="1"
            thumb-color="red"
            thumb-label="always"
          ></v-range-slider>
        </v-flex>
      </v-layout>
      <v-layout class="additional-info-container" raw wrap>
        <v-flex xs12>
          <v-textarea v-model="brew.description" color="teal">
            <template v-slot:label>
              <div>Description <small>(optional)</small></div>
            </template>
          </v-textarea>
        </v-flex>
        <v-flex xs12>
          <v-textarea v-if="commentWanted" v-model="brew.comment" color="teal">
            <template v-slot:label>
              <div>Comment <small>(optional)</small></div>
            </template>
          </v-textarea>
        </v-flex>
      </v-layout>

      <v-checkbox
        v-if="!editMode"
        v-model="checkbox"
        label="Stop current brew"
        required
      ></v-checkbox>
      <v-layout justify-space-around>
        <v-flex>
          <v-btn
            v-if="!commentWanted"
            color="info"
            @click="commentWanted = true"
            >Add comment</v-btn
          >
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex>
          <v-btn :disabled="!checkbox" color="success" @click="submit"
            >Start</v-btn
          >
          <!--<v-btn @click="clear">clear</v-btn>-->
          <v-btn @click="onCancelClicked">Cancel</v-btn>
        </v-flex>
      </v-layout>
    </form>
  </div>
</template>

<script>
  import HttpService from '../services/http.service'

  export default {
  name: 'BrewForm',

  data: () => ({
    brew: {
      title: '',
      startDate: new Date().toISOString().substr(0, 10),
      estimatedDuration: 10,
      beerName: '',
      selectedBeerType: '',
      description: '',
      comment: ''
    },
    settings: {
      targetTemperature: 21,
      warningRange: [2, 4]
    },
    startDateMenu: false,
    estEndDateMenu: false,
    editMode: false,
    beerTypes: ['Pilsner', 'Lager', 'Ale', 'Mexican'],
    commentWanted: false,
    checkbox: false,
    working: false
  }),
  methods: {
    submit: async function() {
      this.working = true
      await HttpService.post('/api/startNewBrew', this.brew)
      await HttpService.post('/api/brewConfig', this.settings)
      this.$emit('update')
      this.working = false
      this.$emit('close')
    },
    clear() {
      this.$v.$reset()
      this.name = ''
      this.email = ''
      this.select = null
      this.checkbox = false
    },
    onCancelClicked() {
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
.brew-form-container {
  background-color: darkslategray;
  padding: 1em;
  border-radius: 5px;
}
</style>
