<template>
  <v-card class="brew-box-state-card">
    <v-toolbar color="secondary" dark>
      <v-toolbar-title
        >Brew Info - {{ brew.state || 'Loading...' }}</v-toolbar-title
      >

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text v-if="brewLoaded" class="headline font-weight-bold">
      <div class="top-line">
        <span class="brew-name">
          <b>{{ brew.title }}</b>
        </span>
        <span class="dates">
          <b>({{ startDate }} - {{ endDate }})</b>
        </span>
      </div>
      <v-layout>
        <v-flex xs12 class="px-2">
          <h5>
            Settings:
          </h5>
          <div class="settings-values-container">
            <span>
              Target beer temperature:
              <b>{{ targetTemperatureDisplay }}</b
              ><br />
              Temperature thresholds:
              <b>{{ warningRangeDisplay }}</b>
            </span>
          </div>
        </v-flex>
        <v-flex xs12 class="px-2">
          <h5>
            Description:
          </h5>
          <p class="brew-description">
            <b>{{ brew.description }}</b>
          </p>
        </v-flex>
      </v-layout>
    </v-card-text>
    <div v-else class="loader-container">
      <BeerLoader></BeerLoader>
    </div>
  </v-card>
</template>

<script>
import { dateFromObjectId } from '../services/utiluty.service'
import BeerLoader from './BeerLoader'
const moment = require('moment')
export default {
  components: { BeerLoader },
  beerName: 'BrewBoxStateCard',
  props: {
    brew: {
      type: Object,
      default: null
    },
    settings: {
      type: Object,
      default: null
    }
  },
  computed: {
    brewLoaded() {
      return this.brew.state
    },
    startDate() {
      return moment(dateFromObjectId(this.brew._id)).format('DD-MMM')
    },
    endDate() {
      return this.brew.end ? moment(this.brew.end).format('DD-MMM') : 'Current'
    },
    warningRangeDisplay() {
      if (this.settings.warningRange) {
        return (
          this.settings.warningRange[0] +
          '-' +
          this.settings.warningRange[1] +
          ' °C'
        )
      }
      return 'not set'
    },
    targetTemperatureDisplay() {
      const temperature =
        Math.round(this.settings.targetBeerTemperature * 100) / 100
      return temperature + ' °C'
    }
  }
}
</script>

<style scoped>
.top-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.brew-name {
  font-size: 1.6em;
}
.brew-box-state-card {
  height: 100%;
  min-width: fit-content;
}
.settings-values-container {
  font-size: 13px;
}

.settings-values-container b {
  font-size: 18px;
}

.dates,
.brew-description {
  font-size: 16px;
}

.loader-container {
  position: relative;
  height: 200px;
}
</style>
