<template>
  <v-card>
    <v-toolbar color="secondary" dark>
      <v-toolbar-title>Live Brew Data</v-toolbar-title>
      <v-spacer></v-spacer>

      Temperature:
      <span v-if="stateLoaded" class="live-value"
        ><b>{{ temperatureDisplay }}</b></span
      >
      <span v-else class="live-value">Loading...</span>
      <v-spacer></v-spacer>

      Heating:
      <span v-if="stateLoaded" class="live-value"
        ><b>{{ heatingState }}</b></span
      >
      <span v-else class="live-value">Loading...</span>

      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <div v-if="dataLoaded">
      <GChart type="LineChart" :data="chartData" :options="chartOptions" />
    </div>
    <div v-else class="loader-container">
      <BeerLoader></BeerLoader>
    </div>
  </v-card>
</template>

<script>
import { GChart } from 'vue-google-charts'
import BeerLoader from '../components/BeerLoader'

export default {
  beerName: 'BrewBoxStateCard',
  components: {
    GChart,
    BeerLoader
  },
  props: {
    data: {
      type: Array,
      default: null
    },
    currentState: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      chartOptions: {
        curveType: 'function',
        legend: { position: 'top' },
        chart: {
          title: 'Company Performance',
          subtitle: 'Sales, Expenses, and Profit: 2014-2017'
        },
        vAxis: { viewWindow: { min: 15, max: 25 } },
        height: 400
      }
    }
  },
  computed: {
    chartData() {
      const chartData = [['Date', 'Beer temperature', 'Target temperature']]
      if (this.data) {
        this.data.map(x =>
          chartData.push([
            new Date(x.timestamp),
            x.beerTemperature,
            x.targetBeerTemperature
          ])
        )
      }
      return chartData
    },
    dataLoaded() {
      return Boolean(this.chartData[1])
    },
    stateLoaded() {
      return Boolean(this.currentState._id)
    },
    temperatureDisplay() {
      const temperature =
        Math.round(this.currentState.beerTemperature * 100) / 100
      return temperature + ' °C'
    },
    heatingState() {
      return this.currentState.heatingOn ? 'ON' : 'OFF'
    }
  }
}
</script>

<style scoped>
.live-value {
  font-size: 2em;
  margin-left: 0.5em;
}
.loader-container {
  position: relative;
  height: 350px;
}
</style>
