<template>
  <v-app dark>
    <v-navigation-drawer v-model="drawer" fixed app>
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed app>
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-dialog v-model="newBrewDialog" persistent max-width="600px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark v-on="on">Start new brew</v-btn>
        </template>
        <BrewForm
          @update="brewChanged"
          @close="newBrewDialog = false"
        ></BrewForm>
      </v-dialog>
      <v-dialog v-model="endBrewDialog" persistent max-width="600px">
        <template v-slot:activator="{ on }">
          <v-btn color="error" dark v-on="on">End current brew</v-btn>
        </template>
        <v-card>
          <v-card-title class="headline">End the Brew?</v-card-title>
          <v-card-text
            >Do you really want to end this brew? After you end the brew, new
            brew has to be started to continue brewing.</v-card-text
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              :disabled="working"
              color="info darken-1"
              flat
              @click="endBrewDialog = false"
              >No</v-btn
            >
            <v-btn
              :loading="working"
              color="green darken-1"
              flat
              @click="onEndCurrentBrewConfirmed"
              >Yes</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="brewHistoryDialog" persistent max-width="600px">
        <template v-slot:activator="{ on }">
          <v-btn color="info" dark v-on="on">Brew History</v-btn>
        </template>
        <BrewHistoryList></BrewHistoryList>
      </v-dialog>
    </v-toolbar>

    <v-content>
      <nuxt />
    </v-content>

    <v-footer :fixed="true" app>
      <span>Adam Schreier 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
  import { mapActions } from 'vuex'
  import HttpService from '../services/http.service'
  import BrewForm from '../components/BrewForm'
  import BrewHistoryList from '../components/BrewHistoryList'

  export default {
  components: { BrewForm, BrewHistoryList },
  data() {
    return {
      drawer: false,
      newBrewDialog: false,
      endBrewDialog: false,
      brewHistoryDialog: false,
      items: [
        {
          icon: 'apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'bubble_chart',
          title: 'Brew monitor',
          to: '/BrewView'
        }
      ],
      miniVariant: true,
      right: true,
      rightDrawer: false,
      title: 'Brew-Master',
      working: false
    }
  },
  created() {
    this.$vuetify.theme = {
      primary: '#0086ff',
      secondary: '#0B5351',
      accent: '#B4C5E4',
      success: '#138A36',
      info: '#3E92CC',
      warning: '#FFBA08',
      error: '#D00000'
    }
  },
  methods: {
    ...mapActions('loadBrew'),
    brewChanged() {
      // this.loadBrew()
      // eslint-disable-next-line no-console
      console.log('brewUpdated!')
    },
    onEndCurrentBrewConfirmed: async () => {
      this.working = true
      await HttpService.endCurrentBrew()
      this.working = false
    }
  }
}
</script>
