<template>
  <div>
    <v-layout class="px-5 pt-3" row>
      <v-flex xs12>
        <BrewInfoCard :settings="brewConfig" :brew="brew"></BrewInfoCard>
      </v-flex>
    </v-layout>
    <v-layout class="px-5 pt-3" row>
      <v-flex>
        <BrewDataChart
          :current-state="brewState"
          :data="brewData"
          xs12
          md6
        ></BrewDataChart>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import BrewDataChart from '../../components/BrewDataGraph'
import BrewInfoCard from '../../components/BrewInfoCard'

export default {
  beerName: 'BrewView',
  components: {
    BrewDataChart,
    BrewInfoCard
  },
  data() {
    return {
      refreshInterval: null
    }
  },
  computed: {
    ...mapGetters(['brew', 'brewState', 'brewData', 'brewConfig'])
  },
  mounted() {
    this.loadAll()
    this.refreshInterval = setInterval(this.updateAll, 60 * 1000)
  },
  methods: {
    ...mapActions(['loadAll', 'updateAll'])
  },
  beforeDestroy() {
    clearInterval(this.refreshInterval)
  }
}
</script>

<style scoped></style>
